# dev variables, these are boilerplate, you must fill them out with your personal strings
# Create a new file in the backend directory named .env (if not already done) 
# Copy the contents of backend/.env.example into backend/.env
# Replace the placeholder values with your real ones (e.g. your MongoDB password, and a long random string for JWT_SECRET). Don’t commit .env

DB_USER=mongoDbUsername
DB_PASS=mongoDbPassword
JWT_SECRET=replaceWithALongRandomString
